<div>
    <h1>Steam</h1>
    <a class="nav" href="/">首页</a>
</div>
<ul style="overflow: hidden;">
    <% body.forEach(function (item) {%>

    <li class="news">
        <div class="img_box">
            <a href="<%= item.defaultUrl %>" target="_blank">
                <img src="<%= item.imgUrl %>">
            </a>
        </div>
        <div class="info_box">
            <a href="<%= item.defaultUrl %>" target="_blank">
                <h4>
                    <font color="1C1CFF"><%= item.title %></font>
                </h4>
            </a>
            <span class="vg_tab">当前价格：<%= item.price %></span><br />
            <span class="vg_tab">发售时间：<%= item.date %></span>
        </div>
        </div>
    </li>

    <% })%>
</ul>